
.patientForm{
   padding: 2rem;
   
 }

.cls{
     background-image: url('src/assets/images/patient.jpg'),url('src/assets/images/billing.jpg');
   background-repeat: no-repeat;
    background-size: cover;
    animation: play-sprite 5s steps(5) infinite;
    transition: ease-in;
 }

 
@keyframes play-sprite {
   
   100% { background-position: -400px; }
 }

 
 img{
  aspect-ratio: 2 / 1.0;
  border-radius: 1%;
}

.carousel img{
transition: ease-in-out ease-out; }