
.patientForm{
   /* padding: 3rem; */
   
 }
 strong{
  text-align: left;
 }
.cls{
     background-image: url('src/assets/images/patient.jpg'),url('src/assets/images/billing.jpg');
   background-repeat: no-repeat;
    background-size: cover;
    animation: play-sprite 5s steps(5) infinite;
    transition: ease-in;
 }

 
@keyframes play-sprite {
   
   100% { background-position: -400px; }
 }

 
 .mvImg> img{
  /* aspect-ratio: 2 / 1.0; */
  aspect-ratio: 10 / 4;
  left: 10px;
  top: 10px;
  border-radius: 1%;
 }
 

 


 .txt{
  margin-bottom: 10rem;
  font-size: 3.4385rem;
  max-width: 659px;
  /* line-height: 8.2; */
   font-weight: 4000;
  font-family: am-title-font-family;
  text-align:left;
background-blend-mode: color-dodge;
animation:txt 10s ease-in infinite;

}

.mvImg> img{
  
  animation:crsl 16s ease-out infinite ;
 }
 
@keyframes crsl {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  
  }
  100% {
    transform: scale(1, 1);
  }
}




@keyframes txt {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);

  }
  100% {
    transform: scale(1, 1);
  }
}


.btn {

  height: 45px;
  min-width: 160.63px;
 background-color:'#32b1a8';
 
}
.subbtn:hover{
  background-color:'blue';
  color: black;

}

.btnb{
  outline: none !important;
  box-shadow: none !important;
  justify-content: end;
gap: 10px;
  display: flex;
 }

 /* #Mycanvas{
  background-color: aqua;
 } */

 #Accordion{
  padding-top: 6rem;
  
   }

   